{% extends 'index.html' %}


{% block product %}
<a  href="{% url 'index' %}">&#x2190; Continue Shopping</a>
    <h1>Cart</h1>
    {% if items %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ item.get_total }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><strong>Total:</strong></td>
                    <td>${{ order.get_cart_total }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'checkout' %}">Checkout</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock product %}