<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<div>
<h1>
    LOGO
    SEARCH

    {% if request.user.is_authenticated %}

    <span><a href="{% url 'account' %}">ACCOUNT</a></span>
    <span><a href="{% url 'logout' %}">LOGOUT</a></span>
    {% else %}
    <span><a href="{% url 'login' %}">LOGIN</a></span>
    {% endif %}
    <span><a href="{% url 'cart' %}">CART</a></span>
    </h1>
</div>
<div style = "clear:both"></div>
<div style = "width:200px; float:left">
    <h3><a href="{% url 'index' %}">Categories:</a></h3>
    {% for cat in categories %}

<p><a href = "/category/{{ cat.id }}" > {{ cat.name }} </a> </p>

    {% endfor %}
</div>
<div style="width:700; float:left">
    {% block product %} {% endblock product %}
</div>
<div style = "clear:both"></div>

</body>
</html>