    {% extends 'index.html' %}

    {% block product %}
    {% if product_user %}
        <h1> {{ product_user.name }}</h1>
        <p> Producer: {{ product_user.producer }} </p>
        <p> {{ product_user.description }} </p>
        <p> {{ product_user.price }} </p>

        <form method="post" action="{% url 'add_to_cart' product_user.id%}">
        {% csrf_token %}
        <input type="submit" value="Add to the cart">
        </form>
    {% else %}
        <p>There is no product with this id.</p>
    {% endif %}
    {% endblock product %}